body {
    margin: 0;
    overflow: hidden; /* Щоб не було прокрутки */
    font-family: sans-serif;
}

.controls {
    padding: 10px;
    background: #eee;
    display: flex;
    gap: 10px;
    align-items: center;
}

#gameArea {
    width: 100vw;   /* 100% ширини екрана */
    height: 90vh;  /* 90% висоти екрана (залишаємо місце під панель) */
    position: relative;
    background-color: #f9f9f9;
    border-top: 2px solid #ccc;
}

#pixel {
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    transition: all 0.1s; /* Легка анімація появи */
}

#scoreBoard {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
